
<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="base_v0" params="parent *joint_origin">

    <joint name="base_link_joint" type="fixed">
      <xacro:insert_block name="joint_origin"/>
      <parent link="${parent}"/>



      <child link="base_link"/>
    </joint>

    <link name="base_link">
      <visual>
        <geometry>
          <mesh filename="package://rover_description/meshes/STL/base/main_frame.stl"/>
        </geometry>
      </visual>

      <collision>
        <geometry>
          <mesh filename="package://rover_description/meshes/STL/base/main_frame.stl"/>
        </geometry>
      </collision>
    </link>

  </xacro:macro>

</robot>
